#lookWords {
    margin-top: 3%;
}

#lookWords > * {
    float: left;
}

#change {
    padding-left: 3%;
}

#lookWords > input {
    margin-top: 20%;
}

#image {
    width: 100%;
}

#image > img {
    width: 100%;
}

#title {
    font-size: 28px;
    margin-left: 40%;
}